<!DOCTYPE html>
<html lang="bg"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Редактирай специалност</title>
</head>

<div layout:fragment="content">
    <form th:action="@{|/specialities/edit/${speciality.id}|}" method="post" th:object="${speciality}">
        <h1>Редактирай специалност</h1>
        <input type="hidden" th:field="*{id}" />
        <div class="mb-3">
            <label class="form-label">Име</label>
            <input type="text" th:field="*{name}"
                   th:class="'form-control' + (${#fields.hasErrors('name') ? ' is-invalid' : ''})"
                   placeholder="Въведи име" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Редактирай специалност</button>
        </div>
    </form>
</div>
</html>