<!DOCTYPE html>
<html lang="bg"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Редактирай доктор</title>
</head>

<div layout:fragment="content">
  <form th:action="@{/doctors/edit/{id}(id=${doctor.id})}" method="post" th:object="${doctor}">
    <h1>Редактирай доктор</h1>
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-3">
      <label class="form-label">Име</label>
      <input type="text" th:field="*{firstName}"
             th:class="'form-control' + (${#fields.hasErrors('firstName') ? ' is-invalid' : ''})"
             placeholder="Въведи име" />
      <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Фамилия</label>
      <input type="text" th:field="*{lastName}"
             th:class="'form-control' + (${#fields.hasErrors('lastName') ? ' is-invalid' : ''})"
             placeholder="Въведи фамилия" />
      <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Потребителско име</label>
      <input type="text" th:field="*{username}"
             th:class="'form-control' + (${#fields.hasErrors('username') ? ' is-invalid' : ''})"
             placeholder="Въведи потребителско име" />
      <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Парола</label>
      <input type="password" th:field="*{password}"
             th:class="'form-control' + (${#fields.hasErrors('password') ? ' is-invalid' : ''})"
             placeholder="Въведи парола" />
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Потвърди парола</label>
      <input type="password" th:field="*{confirmPassword}"
             th:class="'form-control' + (${#fields.hasErrors('confirmPassword') ? ' is-invalid' : ''})"
             placeholder="Потвърди парола" />
      <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Специалности</label>
      <select th:field="*{specialities}" th:class="'form-select' + ${#fields.hasErrors('specialities') ? ' is-invalid' : ''}" multiple>
        <option th:each="speciality : ${specialities}" th:value="${speciality.id}" th:text="${speciality.name}"></option>
      </select>
      <span th:if="${#fields.hasErrors('specialities')}" th:errors="*{specialities}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Докторът е личен лекар?</label>
        <input type="checkbox" th:field="*{isGeneralPractitioner}" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Редактирай доктор</button>
    </div>
  </form>
</div>
</html>