<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Всички лекари</title>
</head>

<div layout:fragment="content">
    <h1>Всички лекари</h1>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/doctors/create}" class="btn btn-primary">Създай доктор</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <div th:replace="~{fragments/table-header-sortable :: sortableHeader(${doctors}, '/doctors', 'id', '№')}"></div>
            <div th:replace="~{fragments/table-header-sortable :: sortableHeader(${doctors}, '/doctors', 'firstName', 'Име')}"></div>
            <div th:replace="~{fragments/table-header-sortable :: sortableHeader(${doctors}, '/doctors', 'username', 'Потребителско име')}"></div>
            <div th:replace="~{fragments/table-header-sortable :: sortableHeader(${doctors}, '/doctors', 'isGeneralPractitioner', 'Общопрактикуващ (личен)')}"></div>
            <th>Специалности</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors.content}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.firstName + ' ' + doctor.lastName}"></td>
            <td th:text="${doctor.username}"></td>
            <td>
                <span th:if="${doctor.isGeneralPractitioner}" class="badge bg-success">Да</span>
                <span th:unless="${doctor.isGeneralPractitioner}" class="badge bg-warning">Не</span>
            </td>
            <td>
                <th:block th:each="speciality, spStatus: ${doctor.specialities}">
                    <th:block th:text="(!${spStatus.last} ? ${speciality.name} + ', ' : ${speciality.name})"></th:block>
                </th:block>
            </td>
            <td>
                <a th:if="${#authentication.name == doctor.username or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                   th:href="@{/doctors/edit/{id}(id=${doctor.id})}"
                   class="btn btn-sm btn-info">
                    Редакция
                </a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/delete/{id}(id=${doctor.id})}" class="btn btn-sm btn-danger">Изтриване</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="~{fragments/pagination :: pagination(${doctors}, '/doctors')}"></div>
</div>
</html>
