<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Users List</title>
</head>

<div layout:fragment="content">
  <form th:action="@{/patients/create}" method="post" th:object="${patient}">
    <h1>Създай пациент</h1>
    <input type="hidden" th:field="*{role}"/>

    <div class="mb-3">
      <label class="form-label">Име</label>
      <input type="text" th:field="*{firstName}"
             th:class="'form-control' + (${#fields.hasErrors('firstName') ? ' is-invalid' : ''})"
             placeholder="Въведи име" />
      <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback"></span>
    </div>

    <div class="mb-3">
      <label class="form-label">Фамилия</label>
      <input type="text" th:field="*{lastName}"
             th:class="'form-control' + (${#fields.hasErrors('lastName') ? ' is-invalid' : ''})"
             placeholder="Въведи фамилия" />
      <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback"></span>
    </div>

    <div class="mb-3">
      <label class="form-label">Потребителско име</label>
      <input type="text" th:field="*{username}"
             th:class="'form-control' + (${#fields.hasErrors('username') ? ' is-invalid' : ''})"
             placeholder="Въведи потребителско име" />
      <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></span>
    </div>

    <div class="mb-3">
      <label class="form-label">ЕГН</label>
      <input type="text" th:field="*{egn}"
             th:class="'form-control' + (${#fields.hasErrors('egn') ? ' is-invalid' : ''})"
             placeholder="Въведи ЕГН" />
      <span th:if="${#fields.hasErrors('egn')}" th:errors="*{egn}" class="invalid-feedback"></span>
    </div>

    <div class="mb-3">
      <label class="form-label">Парола</label>
      <input type="password" th:field="*{password}"
             th:class="'form-control' + (${#fields.hasErrors('password') ? ' is-invalid' : ''})"
             placeholder="Въведи парола" />
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></span>
    </div>

    <div class="mb-3">
      <label class="form-label">Потвърди парола</label>
      <input type="password" th:field="*{confirmPassword}"
             th:class="'form-control' + (${#fields.hasErrors('confirmPassword') ? ' is-invalid' : ''})"
             placeholder="Потвърди парола" />
      <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="invalid-feedback"></span>
    </div>

    <div class="mb-3">
      <label for="generalPractitionerId" class="form-label">GP</label>
      <select th:field="*{generalPractitionerId}" th:class="'form-select' + ${#fields.hasErrors('generalPractitionerId') ? ' is-invalid' : ''}" id="generalPractitionerId" name="generalPractitionerId">
        <option value="">Избери GP</option>
        <option th:each="generalPractitioner : ${generalPractitioners}" th:value="${generalPractitioner.id}" th:text="${generalPractitioner.getFirstName()}"></option>
      </select>
      <span th:if="${#fields.hasErrors('generalPractitionerId')}" th:errors="*{generalPractitionerId}" class="invalid-feedback"></span>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Създай пациент</button>
    </div>
  </form>
</div>
</html>