<!DOCTYPE html>
<html lang="bg"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Всички пациенти</title>
</head>

<div layout:fragment="content">
    <h1>Всички пациенти</h1>
    <form th:action="@{/patients}" method="get" th:object="${searchForm}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Търсене по име" th:field="*{name}">
            <button class="btn btn-outline-secondary" type="submit">Търси</button>
        </div>
    </form>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/patients/create}" class="btn btn-primary">Създай пациент</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${patients}, '/patients', 'id', '№', ${utils.toQueryString(searchForm)})}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${patients}, '/patients', 'fullName', 'Име', ${utils.toQueryString(searchForm)})}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${patients}, '/patients', 'username', 'Потребителско име', ${utils.toQueryString(searchForm)})}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${patients}, '/patients', 'generalPractitioner.fullName', 'Общопрактикуващ (личен)', ${utils.toQueryString(searchForm)})}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${patients}, '/patients', 'egn', 'ЕГН', ${utils.toQueryString(searchForm)})}"></th>
            <th>Платени осигуровки за последните 6 месеца?</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients.content}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.fullName}"></td>
            <td th:text="${patient.username}"></td>
            <td>
                <p th:if="${patient.generalPractitioner != null}"
                   th:text="${patient.generalPractitioner.fullName}" class="mb-0 fw-bold text-black"></p>
            </td>
            <td th:text="${patient.egn}"></td>
            <td>
                <span th:if="${patient.hasPaidInsuranceLast6Months}" class="badge bg-success">Да</span>
                <span th:unless="${patient.hasPaidInsuranceLast6Months}" class="badge bg-warning">Не</span>
            </td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/edit/{id}(id=${patient.id})}" class="btn btn-sm btn-info">
                    Редакция
                </a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/delete/{id}(id=${patient.id})}" class="btn btn-sm btn-danger">Изтриване</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="~{fragments/pagination :: pagination(${patients}, '/patients', ${utils.toQueryString(searchForm)})}"></div>
</div>
</html>
