<!DOCTYPE html>
<html lang="bg"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Създай лекарство</title>
</head>

<div layout:fragment="content">
  <form th:action="@{/drugs/create}" method="post" th:object="${drug}">
    <h1>Създай лекарство</h1>
    <div class="mb-3">
      <label class="form-label">Име</label>
        <input type="text" th:field="*{name}"
                 th:class="'form-control' + (${#fields.hasErrors('name') ? ' is-invalid' : ''})"
                 placeholder="Въведи име" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Описание</label>
      <textarea th:field="*{description}"
                th:class="'form-control' + (${#fields.hasErrors('description') ? ' is-invalid' : ''})"
                placeholder="Въведи описание"></textarea>
      <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"></span>
    </div>
    <div class="mb-3">
      <label class="form-label">Цена</label>
      <input type="number" th:field="*{price}"
             th:class="'form-control' + (${#fields.hasErrors('price') ? ' is-invalid' : ''})"
             placeholder="Въведи цена" />
      <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"></span>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Създай лекарство</button>
    </div>
  </form>
</div>
</html>