<!-- fragments/input-field.html -->
<div th:fragment="inputField(fieldName, labelText, fieldType='text', placeholderText='', fieldValue='')">
    <div class="mb-3">
        <label th:for="${fieldName}" th:text="${labelText}" class="form-label"></label>
        <input th:type="${fieldType}" th:field="*{__${fieldName}__}"
               th:class="'form-control' + (${#fields.hasErrors(fieldName) ? ' is-invalid' : ''})"
               th:id="${fieldName}" th:name="${fieldName}"
               th:placeholder="${placeholderText}" th:value="${fieldValue}" />
        <span th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}" class="invalid-feedback"></span>
    </div>
</div>
