<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Users List</title>
</head>

<div layout:fragment="content">
    <h1>Users</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Име</th>
            <th>Потребителско име</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.firstName + ' ' + user.lastName}">Name</td>
            <td th:text="${user.username}">Username</td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-sm btn-info">Редакция</a>
                <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-sm btn-danger">Изтриване</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
