<!DOCTYPE html>
<html lang="bg"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Медицинска система</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<th:block th:insert="~{fragments/header :: header}"></th:block>

<div layout:fragment="content" class="container">
</div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
