<!DOCTYPE html>
<html lang="bg"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Всички прегледи</title>
</head>

<div layout:fragment="content">
    <h1>Всички прегледи</h1>
    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DOCTOR')" th:href="@{/medical_appointments/create}" class="btn btn-primary">Създай преглед</a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${appointments}, '/medical_appointments', 'id', '№', null)}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${appointments}, '/medical_appointments', 'date', 'Дата', null)}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${appointments}, '/medical_appointments', 'doctor.fullName', 'Доктор', null)}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${appointments}, '/medical_appointments', 'patient.fullName', 'Пациент', null)}"></th>
            <th th:replace="~{fragments/table-header-sortable :: sortableHeader(${appointments}, '/medical_appointments', 'diagnose.name', 'Диагноза', null)}"></th>
            <th>Болничен лист</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments.content}">
            <td th:text="${appointment.id}"></td>
            <td th:text="${appointment.date}"></td>
            <td th:text="${appointment.doctor.fullName}"></td>
            <td th:text="${appointment.patient.fullName}"></td>
            <td th:text="${appointment.diagnose.name}"></td>
            <td>
            <span th:unless="${appointment.sickLeave == null}">
                <i>Болничен лист от:</i> <span th:text="${appointment.sickLeave.startDate}"></span>
            </span>
                <span th:if="${appointment.sickLeave == null}" class="badge bg-info">Няма</span>
            </td>
            <td>
                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or (#authentication.principal.id == appointment.doctor.id and #authorization.expression('hasRole(''ROLE_DOCTOR'')'))}"
                   th:href="@{/medical_appointments/edit/{id}(id=${appointment.id})}"
                   class="btn btn-sm btn-info">
                    Редакция
                </a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/medical_appointments/delete/{id}(id=${appointment.id})}" class="btn btn-sm btn-danger">Изтриване</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="~{fragments/pagination :: pagination(${appointments}, '/medical_appointments', null)}"></div>
</div>
</html>
